@{
    ViewData["Title"] = "Frontend";
}

<style>
    .videos{
        display:grid;
        grid-template-areas:"first";

    }
    .firstVideo{
        grid-area:first;
    }
</style>

<div class="page-wrapper">
    <div class="h3">
        Популярное в frontend
    </div>
    <div class="videos">
        <div class="firstVideo">
            
        </div>
    </div>
</div>