@{
    ViewData["Title"] = "Kentcdobbs";
}
<style>
    body{
        background-color:#190b2b;

    }

    .rating-area {
        overflow: hidden;
        width: 265px;		
        padding: 0;
    }
        .rating-area:not(:checked) > input {
            display: none;
        }
        .rating-area:not(:checked) > label {
            float: right;
            width: 42px;
            padding: 0;
            cursor: pointer;
            font-size: 32px;
            line-height: 32px;
            color: lightgrey;
            text-shadow: 1px 1px #bbb;
        }
            .rating-area:not(:checked) > label:before {
                content: '★';
            }
        .rating-area > input:checked ~ label {
            color: gold;
            text-shadow: 1px 1px #c60;
        }
        .rating-area:not(:checked) > label:hover,
        .rating-area:not(:checked) > label:hover ~ label {
            color: gold;
        }
        .rating-area > input:checked + label:hover,
        .rating-area > input:checked + label:hover ~ label,
        .rating-area > input:checked ~ label:hover,
        .rating-area > input:checked ~ label:hover ~ label,
        .rating-area > label:hover ~ input:checked ~ label {
            color: gold;
            text-shadow: 1px 1px goldenrod;
        }
    .rate-area > label:active {
        position: absolute;
    }
</style>
<div>
    <div class="col mx-auto" style="padding: 20px">
        <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
            <div class="col">
                <img src="https://cdn.coursehunter.net/courses/360x220/full-stack-for-front-end-engineers-v3.webp" class="videoCardImg">
            </div>
            <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                Full Stack for Front-End Engineers, v3
            </div>
            <div class="col" style="max-width:300px; margin:auto">
                Если вы когда-нибудь задумывались о том, что значит поднять сервер или что означают все эти непонятные термины, такие как «балансировщик нагрузки» или «обратный прокси», этот курс для вас.
            </div>
        </a>
        <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
            <div class="col">
                <img src="https://cdn.coursehunter.net/courses/360x220/prakticheskiy-kurs-javascript-fullstack-razrabotchik.webp" class="videoCardImg">
            </div>
            <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                Практический курс "Javascript fullstack"
            </div>
            <div class="col" style="max-width:300px; margin:auto">
                Курс состоит из заранее записанных уроков, наглядно показывающих процесс создания простого маркетплейса с пользовательским приложением, админ-панелью и бэкендом.
            </div>
        </a>
        <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
            <div class="col">
                <img src="https://cdn.coursehunter.net/courses/360x220/sql-inekcii-veb-ataki-sqli.webp" class="videoCardImg">
            </div>
            <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                SQL-инъекции - веб-атаки SQLi
            </div>
            <div class="col" style="max-width:300px; margin:auto">
                Если вы хотите стать мастером веб-хакинга, самым быстрым способом стать экспертом будет тщательное изучение каждой уязвимости.SQL-инъекция является одной из 10 самых распространенных уязвимостей в мире
            </div>
        </a>
        <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
            <div class="col">
                <img src="https://cdn.coursehunter.net/courses/268x160/sploshnoy-typescript.webp" class="videoCardImg">
            </div>
            <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                Сплошной TypeScript
            </div>
            <div class="col" style="max-width:300px; margin:auto">
                Узнайте, как использовать TypeScript для повышения уровня своих приложений в качестве веб-разработчика, с помощью семинаров и учебных пособий, проводимых мастером TypeScript Мэттом Пококом.
            </div>
        </a>
        <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
            <div class="col">
                <img src="https://cdn.coursehunter.net/courses/360x220/full-stack-for-front-end-engineers-v3.webp" class="videoCardImg">
            </div>
            <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                Полный курс по JavaScript
            </div>
            <div class="col" style="max-width:300px; margin:auto">
                Существующего материала хватит минимум на 3 месяца активной учебы. До 31 марта 2023 года, курс будет дополнен еще 3-мя темами. Студенты приобретающие курс получат доступ ко всем дополнениям бесплатно и автоматически.
            </div>
        </a>
        <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
            <div class="col">
                <img src="https://cdn.coursehunter.net/courses/360x220/full-stack-for-front-end-engineers-v3.webp" class="videoCardImg">
            </div>
            <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                Устройство Rails/Rack-приложения
            </div>
            <div class="col" style="max-width:300px; margin:auto">
                Мастер-класс для желающих познакомится с внутренним устройством рельс, но не знающих с чего начать. Разберем взаимодействие частей фреймворка между собой, с веб-сервером и с операционной системой.
            </div>
        </a>
    </div>
</div>
