@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color:#190b2b;
    }
</style>

<div class="wrapper">
    <div class="container" style="background-color:#190b2b; color:white">
        <div class="row">
            <div class="col">
                <div class="h2">Добро пожаловать на CourseHunter</div>
                <div class="h6">
                    Ресурс видеоуроков программирования для разработчиков. Бери знания <br>
                    своего профиля у нас, ведь мы самые лучшие блеать. Серьезно.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="btn" role="button" href="/css" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#7a4cb5; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png" class="rounded" style="height: 30px; width: 30px">
                                CSS
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/javascript" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#7a4cb5; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" class="rounded" style="height: 30px; width: 30px">
                                javaScript
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/reactjs" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#7a4cb5; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/919/919851.png" class="rounded" style="height: 30px; width: 30px">
                                ReactJS
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/python" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#7a4cb5; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" class="rounded" style="height: 30px; width: 30px">
                                Python
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/java" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#7a4cb5; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968282.png" class="rounded" style="height: 30px; width: 30px">
                                java
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/nodejs" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#7a4cb5; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968322.png" class="rounded" style="height: 30px; width: 30px">
                                NodeJS
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/other" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#7a4cb5; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/7245/7245102.png" class="rounded" style="height: 30px; width: 30px">
                                Другое
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/typescript" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#7a4cb5; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968381.png" class="rounded" style="height: 30px; width: 30px">
                                TypeScript
                            </a>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <a class="btn" role="button" href="/Cards" id="cardButton" style="color:white">sdgfhsdfghs</a>
                </div>
            </div>
        </div>
    </div>
</div>