@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color:#190b2b;
    }
    .videoCardImg{
        width:360px;
        height:200px;
    }
</style>

<div class="wrapper">
    <div class="container-md mx-auto" style="background-color:#190b2b; color:white">
        <div class="row">
            <div class="col">
                <div class="h2">Добро пожаловать на Course<span style="color:#a766fa">Hunter</span></div>
                <div class="h6">
                    Ресурс видеоуроков программирования для разработчиков. Бери знания <br>
                    своего профиля у нас, ведь мы самые лучшие блеать. Серьезно.
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col">
                <div class="container-md">
                    <div class="row px-4 gy-4" >
                        <div class="col">
                            <a class="btn" role="button" href="/css" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#472f66; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png" class="rounded" style="height: 30px; width: 30px">
                                CSS
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/javascript" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#472f66; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" class="rounded" style="height: 30px; width: 30px">
                                javaScript
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/reactjs" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#472f66; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/919/919851.png" class="rounded" style="height: 30px; width: 30px">
                                ReactJS
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/python" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#472f66; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" class="rounded" style="height: 30px; width: 30px">
                                Python
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/java" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#472f66; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968282.png" class="rounded" style="height: 30px; width: 30px">
                                java
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/nodejs" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#472f66; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968322.png" class="rounded" style="height: 30px; width: 30px">
                                NodeJS
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/other" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#472f66; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/7245/7245102.png" class="rounded" style="height: 30px; width: 30px">
                                Другое
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" role="button" href="/typescript" id="navbarDarkDropDownMenuLink" aria-expanded="false" style="color:white; background-color:#472f66; border-radius:20px">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968381.png" class="rounded" style="height: 30px; width: 30px">
                                TypeScript
                            </a>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
        <div class="col mx-auto" style="padding: 20px">
            <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
                <div class="col">
                    <img src="https://cdn.coursehunter.net/courses/360x220/full-stack-for-front-end-engineers-v3.webp" class="videoCardImg">
                </div>
                <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                    Full Stack for Front-End Engineers, v3
                </div>
                <div class="col" style="max-width:300px; margin:auto">
                    Если вы когда-нибудь задумывались о том, что значит поднять сервер или что означают все эти непонятные термины, такие как «балансировщик нагрузки» или «обратный прокси», этот курс для вас.
                </div>
            </a>
            <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
                <div class="col">
                    <img src="https://cdn.coursehunter.net/courses/360x220/prakticheskiy-kurs-javascript-fullstack-razrabotchik.webp" class="videoCardImg">
                </div>
                <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                    Практический курс "Javascript fullstack"
                </div>
                <div class="col" style="max-width:300px; margin:auto">
                    Курс состоит из заранее записанных уроков, наглядно показывающих процесс создания простого маркетплейса с пользовательским приложением, админ-панелью и бэкендом.
                </div>
            </a>
            <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
                <div class="col">
                    <img src="https://cdn.coursehunter.net/courses/360x220/sql-inekcii-veb-ataki-sqli.webp" class="videoCardImg">
                </div>
                <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                    SQL-инъекции - веб-атаки SQLi
                </div>
                <div class="col" style="max-width:300px; margin:auto">
                    Если вы хотите стать мастером веб-хакинга, самым быстрым способом стать экспертом будет тщательное изучение каждой уязвимости.SQL-инъекция является одной из 10 самых распространенных уязвимостей в мире
                </div>
            </a>
            <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
                <div class="col">
                    <img src="https://cdn.coursehunter.net/courses/268x160/sploshnoy-typescript.webp" class="videoCardImg">
                </div>
                <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                    Сплошной TypeScript
                </div>
                <div class="col" style="max-width:300px; margin:auto">
                    Узнайте, как использовать TypeScript для повышения уровня своих приложений в качестве веб-разработчика, с помощью семинаров и учебных пособий, проводимых мастером TypeScript Мэттом Пококом.
                </div>
            </a>
            <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
                <div class="col">
                    <img src="https://cdn.coursehunter.net/courses/360x220/full-stack-for-front-end-engineers-v3.webp" class="videoCardImg">
                </div>
                <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                    Полный курс по JavaScript
                </div>
                <div class="col" style="max-width:300px; margin:auto">
                    Существующего материала хватит минимум на 3 месяца активной учебы. До 31 марта 2023 года, курс будет дополнен еще 3-мя темами. Студенты приобретающие курс получат доступ ко всем дополнениям бесплатно и автоматически.
                </div>
            </a>
            <a class="btn col" role="button" href="/Cards" id="cardButton" style="color:white; background-color:#472f66; border-radius:10px; width:400px; height:420px; border: 2px solid #8526ff; margin:5px ">
                <div class="col">
                    <img src="https://cdn.coursehunter.net/courses/360x220/full-stack-for-front-end-engineers-v3.webp" class="videoCardImg">
                </div>
                <div class="col h5" style="border: 0.5px solid #a766fa; border-radius: 10px">
                    Устройство Rails/Rack-приложения
                </div>
                <div class="col" style="max-width:300px; margin:auto">
                    Мастер-класс для желающих познакомится с внутренним устройством рельс, но не знающих с чего начать. Разберем взаимодействие частей фреймворка между собой, с веб-сервером и с операционной системой. 
                </div>
            </a>
        </div>
    </div>
</div>